.container {
    max-width: 1100px;
    padding: 0 1.3rem;
    margin: auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.3rem;
    line-height: 1.5;
    color: $dark-color;
}

.thin {
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $dark-color;
    font-size: 1rem;
}

.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

.btn {
    display: inline-block;
    font-weight: 600;
    margin: 0px 10px;
    padding: 10px 20px;
    border: 2px solid $dark-color;
    border-radius: 5px;
    position: relative;
    z-index: 5;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        top: 10px;
        left: 10px;
        transition: top .15s, left .15s;
        z-index: 4;
    }
    &-light:before {
        color: #fff;
        background: rgba(0, 0, 0, 0.1);
    }
    &-dark:before {
        color: #000;
        background: rgba(199, 199, 201, 0.4);
    }
    &:hover::before {
        top: 0;
        left: 0;
    }
}

.section-title {
    font-size: 3.3rem;
    text-shadow: 5px 9px 2px rgba(0, 0, 0, .15);
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    // text-transform: uppercase;
}